markup/scene.rnc

start = scene
scene = element scene {n, text, (stage | sp)*}
n = attribute n {text}
stage = element stage {text}
sp = element sp {speaker+, (stage | l | earthly | divine)+}
earthly = element earthly {(stage | l)+}
divine = element divine {(stage | l)+}
speaker = element speaker {text}
l = element l {text}