markup/scene.rnc

start = scene
scene = element scene {n, head, (stage | sp)*}
head = element head {text}
n = attribute n {xsd:integer}
stage = element stage {text}
sp = element sp {speaker, (stage | lg | p)+}
lg = element lg {(l | stage | earthly | divine)+}
p = element p {(text | earthly | divine)*}
earthly = element earthly {(stage | l | text)+}
divine = element divine {(stage | l | text)+}
speaker = element speaker {text}
l = element l {(stage | text)+}